
<% @atividades.each do |atividade| %>
<tr class='<%= atividade.status %> clickable-row' data-href='/atividades/<%=atividade.id%>'>
	<td><%= atividade.nome %></td>
	<td><%= tem_comprovante(atividade.comprovante_ids) %></td>
	<td><%= atividade.aluno.usuario.nome %></td>
	<td><%= atividade.professor.usuario.nome %></td>
	<td><%= atividade.created_at.localtime.strftime("%d-%m-%y") %></td>
	<td><%= atividade.updated_at.localtime.strftime("%d-%m-%y") %></td>
	<td class="status"><%= atividade.status %></td>
	<td>
	<% if usuario_atual == atividade.aluno.usuario && atividade.status == "Registrada"%>
  	<%= link_to 'Excluir',  atividade_path(atividade.id), method: :delete, data: {confirm: 'Deseja confirmar?'}, class:'btn btn-danger' %></td>
  <%end%>
</tr>
<% end %>



