
	<% @atividades.each do |atividade| %>
		<tr class="<%= atividade.status %>">
			<td><%= atividade.nome %></td>
			<td><%= atividade.status %></td>
			<td><%= atividade.professor %></td>
			<td><%= tem_comprovante(atividade.comprovante_ids) %>
			</td>
			<td><%= atividade.usuario.nome %></td>
			<td>
				<div class="btn-group" role="group">

					<%= link_to 'Abrir', atividade_path(atividade.id), class:'btn btn-default' %>

					<% if atividade.professor == nil && current_usuario.avaliador %>
						<%= link_to 'Avaliar', aceita_atividade_path(atividade.id), method: :put, class:'btn btn-default' %>
					<%else%>
						<%if atividade.professor != nil%>
						<%= link_to 'Rejeitar', atividade_path(atividade.id), method: :put, class:'btn btn-default' %>
						<%= link_to 'Confirmar', atividade_path(atividade.id), method: :put, class:'btn btn-default' %>
					<%end%><%end%>
					<% if current_usuario == atividade.usuario %>
					<%= link_to 'Excluir',  atividade_path(atividade.id), method: :delete, data: {confirm: 'Deseja confirmar?'}, class:'btn btn-default' %>
					<%end%>
				</div>

			</td>

		</tr>

	<% end %>




