<%= form_for(@atividade) do |f| %>
  
  <% if @atividade.errors.any? %>
    <div class="alert alert-danger" id="error_explanation">
      <p><%= pluralize(@atividade.errors.count, "erro") %> ao salvar esta Atividade</p>

      <ul>
      <% @atividade.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :nome %><br>
    <div class="controls">
      <%= f.text_field :nome %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :status %><br>
    <div class="controls">
      <%= f.text_field :status %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :professor %><br>
    <div class="controls">
     <%= f.text_field :professor %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :cv %><br>
        <div class="controls">
            <%= f.attachment_field :cv %>
        </div>
  </div>

  </br>  <%= f.submit "Enviar", class: 'btn btn-primary' %>
  <%= link_to 'Voltar', atividades_path, class:"btn btn-default" %>
<% end %>
