<div class="page-header">
  <h1>Lista de Atividades</h1>
</div>

<div class="panel panel-default">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Status
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a class="filtro">Tudo</a></li>
            <li><a class="filtro">Processamento</a></li>
            <li><a class="filtro">Aceita</a></li>
            <li><a class="filtro">Comprovada</a></li>
            <li><a class="filtro">Rejeitada</a></li>
          </ul>
        </div>
      </th>
      <th>Professor</th>
      <th>Documento</th>
      <th>Aluno</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @atividades.each do |atividade| %>
      <tr class="<%= atividade.status %>">
        <td><%= atividade.nome %></td>
        <td><%= atividade.status %></td>
        <td><%= atividade.professor %></td>
        <td><%= documento(atividade.documento) %>
        </td>
        <td><%= atividade.usuario.nome %></td>
        <td>
          <div class="btn-group" role="group">
            <%= link_to 'Abrir', atividade_path(atividade.id), class:'btn btn-default' %>

            <%= link_to 'Aceitar', aceita_atividade_path(atividade.id), method: :put, class:'btn btn-default' %>
            
            <% if current_usuario == atividade.usuario %>
   
              <%= link_to 'Deletar',  atividade_path(atividade.id), method: :delete, data: {confirm: 'Deseja confirmar?'}, class:'btn btn-default' %>
            <%end%>
          </div>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="btn-group" role="group">
<%= link_to 'Nova Atividade', new_atividade_path, class:"btn btn-default" %>
<%= link_to 'Gerar PDF', atividades_path(format: "pdf"), class:"btn btn-default"%>
</div>

<script type="text/javascript">
  $(".filtro").click(function(){
      status = $(this).text();
      if(status == "Tudo"){
        $('tbody tr').show()
      }
      else{
       $('tbody tr').show().not('.' +  status).hide();
     }
  })
</script>