    <%= form_for(Usuario.new, url: login_path, html: {class: 'form-signin'}) do |f| %>

     <div class="row">
        <div class="container">
            <div class="control-group">
                <%= f.label "Login IdUFF(CPF)", class: 'control-label' %>
                <div class="controls">
                    <%= f.text_field :iduff %>
                </div>
            </div>


            <div class="control-group">
                <%= f.label "Senha", class: 'control-label' %>
                <div class="controls">
                    <%= f.password_field :senha %>
                </div>
            </div>
            <br>

            <div class="control-group">
                <div class="btn-group" role="group">
                    <%= f.submit "Acessar", class: 'btn btn-primary' %>
                    <%= link_to 'Cadastrar', new_usuario_path, class: 'btn btn-default' %>
                </div>        
            </div>
        </div>
    </div>
    <% end %>