<%= form_for(@usuario, html: { class: 'form-horizontal' }) do |f| %>
    <% if @usuario.errors.any? %>
        <div class="alert alert-error">
            <h3><%= pluralize(@usuario.errors.count, "error") %> prohibited this Usuario from being saved:</h3>

            <ul>
                <% @usuario.errors.full_messages.each do |msg| %>
                     <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="control-group">
        <%= f.label :nome, class: 'control-label' %>
        <div class="controls">
            <%= f.text_field :nome %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label "Login IdUFF(CPF)", class: 'control-label' %>
        <div class="controls">
            <%= f.text_field :iduff %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :email, class: 'control-label' %>
            <div class="controls">
                <%= f.text_field :email %>
            </div>
    </div>

    <div class="control-group">

        <%= f.label "Perfil", class: 'control-label' %>
         <div class="controls">
            <% Perfil.all.each do |perfil| %>
                <%= check_box_tag "usuario[perfil_ids]", perfil.id %>
                <%= perfil.nome.capitalize %><br>
            <% end %>
        </div>
    
    </div>


    <br>

    <div class="control-group controls btn-group">
        <%= f.submit "Salvar", class: 'btn btn-primary' %>
        <% if usuario_atual %>
        <%= link_to 'Voltar', root_path, class: 'btn btn-default' %>
        <% else %>
            <%= link_to 'Voltar', login_path, class: 'btn btn-default' %>
        <% end%>
    </div>
    <% end%>