<!DOCTYPE html>
<html>
<head>
  <title>Sisac</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" title="SisAC">SisAC</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul id="app-menu" class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          
          <% if current_usuario %>
            <% if current_usuario.categoria == "Aluno" %>
          
              <li><%= link_to "Nova Atividade", new_atividade_path %></li>
              <li><%= link_to "Atividades", atividades_path %></li>
            <%end%>
            <li><a>Usuario: <%= current_usuario.nome.capitalize %></a></li>
            <li><%= link_to "Logout", logout_path %></li>
          <% else %>
            
            <li><%= link_to "Login", login_path %></li> 
          <% end %>


        </ul>
      </div>
    </div>
</div>
 
<div id="main-container" class="container">
	<div class="row">	

    <div class="container">

      <% if notice %><p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %><p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>
	</div>
</div>


<div style="padding-top: 10px; border-top: 1px solid #DFDFDF; margin-top: 10px;margin-bottom: -25px">
<footer class="footer">
	<div class="container">
		<p class="text-muted">
		&copy; Universidade Federal Fluminense 2014</p>
	</div>
</footer>
</div>

</body>
</html>
